
@{
    ViewBag.Title = "PatientsList";
}

<h1 class="display-4">Patients list</h1>
<div>
    <form class="form-inline float-right mx-sm-3 mb-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</div>
<hr class="my-4">
<div>
    <table class="table table-sm">
        <thead>
            <tr class="bg-warning">
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Departamento</th>
                <th scope="col">Municipio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>
</div>

<button type="button" class="btn btn-warning">Volver al menú</button>









