
@{
    ViewBag.Title = "InitialPage";
}
    <img src="~/Content/Images/Background.png" class="rounded float-right img-fluid" style="position:absolute; top:0px; left:0px" width="1800">
    <div class="page-holder bg-cover">
        <div class="container py-5">
            <header class="text-center text-dark py-xl-0">
                <img src="~/Content/Images/doctor-man.png" style="position:absolute; top:70px; left:1100px" class="rounded float-right img-fluid" width="320">
                <img src="~/Content/Images/doctor-woman.png" style="position:absolute; top:70px; left:920px" class="rounded float-right img-fluid" width="180">
                <h1 class="display-4 font-weight-bold mb-4" style="position:absolute; top:250px; left:150px">Covid Analyzer</h1>
                <p class="lead mb-0" style="position:absolute; top:330px; left:110px">Gestor del registro de enfermos infectados por la pandemia</p>
            </header>
            <div class="form-inline text-center">
                <div class="col-md-12">
                    <button type="button" style="position:absolute; top:310px; left:30px" onclick="location.href='@Url.Action("Create", "Patient")'" class="btn btn-warning btn-send btn-lg">Agregar paciente</button>
                    <p></p>
                    <button type="button" style="position:absolute; top:400px; left:50px" onclick="location.href='@Url.Action("Panel", "Home")'" class="btn btn-warning btn-send btn-lg">Panel central</button>
                </div>
            </div>
        </div>
    </div>