@{
    ViewBag.Title = "Virus";
}

<br />
<h1>Información sobre el COVID-19</h1>
<hr />

<div class="container">
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            <img src="~/Content/Images/remote-work-woman.png" class="rounded float-left img-fluid" width="190">
                            <img src="~/Content/Images/mask-woman.png" class="rounded float-left img-fluid" width="190">
                            <img src="~/Content/Images/mask-man.png" class="rounded float-left img-fluid" width="190">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bio-content">
                    <h4><strong>¿Qué se entiende por el nuevo coronavirus?</strong></h4>
                    <p>La enfermedad causada por el nuevo coronavirus que se detectó por primera vez en Wuhan, China, ha sido denominada enfermedad por coronavirus 2019 (COVID-19). “Co” hace referencia a “corona”, “vi” a “virus” y “d” a disease (“enfermedad” en inglés).</p>
                    <h4><strong>¿Cómo se contagia?</strong></h4>
                    <p align="left">El virus se transmite por el contacto directo con las gotas de la respiración que una persona infectada puede expulsar cuando tose o estornuda, o al tocar superficies contaminadas por el virus.</p>
                    <h4><strong>¿Cuáles son los síntomas del coronavirus?</strong></h4>
                    <p align="left">
                        La fiebre, la tos y la insuficiencia respiratoria son algunos de sus síntomas. En casos más graves, la infección puede causar neumonía o dificultades respiratorias. En raras ocasiones, la enfermedad puede ser mortal.
                    </p>
                    <br />
                    <p align="center">
                        <button type="button" onclick="location.href='@Url.Action("Panel", "Home")'" class="btn btn-warning">Regresar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




